/* #utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background-color: #000000;
}
/* barra dei controlli superiore */
.top_bar{
    color: white;
    position: relative;
    height: 80px;
    font-size: small;
}
.custom{
    padding: 3px;
    background-color: #4A4A4A; 
    border-radius:  4px;
    position: absolute;
    top: 6px;
    right: 35px;
}
#maximize{
    position: absolute;
    top: 6px;
    right: 10px;
    margin-left: 5px;
    padding: 3px;
    background-color: #4A4A4A; 
    border-radius:  4px;
}
/* schema della griglia */

.container{
    width: 80%;
    margin: auto;
    color: white;
}

.row{
    display: flex;
    position: relative;
}

.col_1{
    width: calc(100% / 12 * 2);
    margin: 0.30rem;
}

.name{
    background-color: #65717E;
    font-size: small;
    width: 80px;
    position: absolute;
    bottom: 9px;
}
